/*     MISC     */

* {
    box-sizing: border-box;
}

html {
    font-family: Verdana, Segoe, sans-serif;
}

.wrapper {
    margin: 0 auto;
    min-width: 460px;
    max-width: 860px;
}

#madlib-frame {
    margin: 30px;
    border: 4px solid black;
}



/*     TOP BAR SECTION     */

#top-bar {
    height: 120px;
    display: flex;
    flex-flow: row;
    border-bottom: 4px solid black;
}

#top-bar .left {
    max-width: 25%;
    border-right: 4px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

#smiley-img {
    flex: 0 1 105px;
    width: 100%;
}

#top-bar .right {
    flex: 1 1 auto;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#top-bar .right h1 {
    margin: 10px 0;
    font-size: 34px;
    line-height: 40px;
}


#logo-img {
    max-height: 40px;
}


/*     WORD FILL SECTION     */

#word-fill {
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid black;
}

#word-boxes {
    min-height: 160px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
}

#word-boxes input {
    border: 2px solid black;
    border-radius: 25px;
    flex: 0 1 auto;
    margin: 5px;
    padding: 3px 15px;
    font-size: 15px;
}


/*     STORY BODY SECTION     */

#story-body {
    min-height: 300px;
    padding-left: 30px;
    padding-right: 30px;
}

#story-body h3 {
    text-align: center;
}