<!doctype html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, inital-scale=1">
    <title>Angular Email App</title>
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div id="madlib-frame">
            <div id="top-bar">
                <div class="left">
                    <img id="smiley-img" src="assets/smiley.png" />
                </div>
                <div class="right">
                    <img id="logo-img" src="assets/logo.png" />
                    <h1>Automate This!</h1>
                </div>
            </div>
            <div id="word-fill">
                <h2>Provide the following words:</h2>
                <div id="word-boxes">
                    <input type="text" ng-model="female_name" placeholder="FEMALE NAME">
                    <input type="text" ng-model="job_title" placeholder="JOB TITLE">
                    <input type="text" ng-model="tedious_task" placeholder="TEDIOUS TASK">
                    <input type="text" ng-model="dirty_task" placeholder="DIRTY TASK">
                    <input type="text" ng-model="celebrity" placeholder="CELEBRITY">
                    <input type="text" ng-model="useless_skill" placeholder="USELESS SKILL">
                    <input type="text" ng-model="adjective" placeholder="ADJECTIVE">
                    <input type="text" ng-model="obnoxiuous_celebrity" placeholder="OBNOXIUOUS CELEBRITY">
                    <input type="text" ng-model="huge_number" placeholder="HUGE NUMBER">
                </div>
            </div>
            <div id="story-body">
               <h3>The {{ job_title }} Turned Programmer</h3>               
                <p>{{ female_name }} was a {{job_title}} who loved technology. Although she loved parts of her job, she absolutely hated  {{tedious_task}} and {{dirty_task}}. So {{female_name}} met with her life mentor {{celebrity}} who told her to learn how to {{useless_skill}} with Thinkful. Thinkful didn't offer a course on {{useless_skill}} so she studied programming instead.</p>
                <p>What a great decision! With her new skills, {{female_name}} built a(n) {{adjective}} robot named {{obnoxiuous_celebrity}} that not only loved {{dirty_task}} but did it {{huge_number}} times faster.</p>
            </div>
        </div>
    </div>
    
    <div ng-controller="myCtrl">
        App Version = {{ version }}
    </div>

    <script src="vendor/jquery-1.11.3.js"></script>
    <script src="vendor/angular.1.4.5.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>